@page "/"

<h1>Bienvenu dans le générateur de signature</h1>

Pour ajouter une signature à tous vos emails :

<div style="max-width: 800px">
    <ol>
        <li>
            Choisissez le type de signature :
            <ul>
                <li><a href="/signature/oniryx">Signature d'<b>Oniryx</b></a></li>
                <li><a href="/signature/igroove">Signature <b>I-Groove</b></a></li>
            </ul>
        </li>
        <li>
            Remplissez le formulaire : encodez vos nom, prénom, titre, ...
        </li>
        <li>
            Cliquez sur le bouton [Copier] pour copier la signature dans le presse-papier.
        </li>
        <li>
            Collez cette signature dans les paramètres de votre logiciel de courriers :
            <ul>
                <li>
                    Pour <b>Outlook 365</b>, allez dans les <a href="https://outlook.office365.com/mail/options/mail/messageContent" target="_blank">paramètres de création de mail</a>,
                    dans Outlook Web Access et collez la signature directement dans la zone d'édition. Finalement, enregistrez les paramètres.
                </li>
                <li>
                    Pour <b>GMail</b>, cliquez sur <a href="https://mail.google.com/mail/u/0/#settings/general" target="_blank">la roue des paramètres / voir tous les paramètres</a>.
                    Dans l'onglet Général, déroulez jusqu'à la rubrique Signature et créez une nouvelle signature.
                    Collez la signature directement dans la zone d'édition. Finalement, enregistrez les paramètres.
                </li>

            </ul>
        </li>
    </ol>
</div>