@page "/"

<h1>Bienvenu dans le générateur de signature</h1>

Pour ajouter une signature à tous vos emails :

<div style="max-width: 800px">
    <ol>
        <li>
            Choisissez le type de signature :
            <ul>
                <li><a href="/signature/oniryx">Signature <b>Oniryx</b></a></li>
                <li><a href="/signature/igroove">Signature <b>I-Groove</b></a></li>
                <li><a href="/signature/blacksheeptribes">Signature <b>Blacksheep Tribes</b></a></li>
                <li><a href="/signature/boostus">Signature <b>Boost-us</b></a></li>
                <li><a href="/signature/innotopia">Signature <b>Innotopia</b></a></li>
                <li><a href="/signature/novactory">Signature <b>Novactory</b></a></li>
                <li><a href="/signature/tealium">Signature <b>Tealium</b></a></li>
            </ul>
        </li>
        <li>
            Remplissez le formulaire : encodez vos nom, prénom, titre, ...
        </li>
        <li>
            Cliquez sur le bouton [Copier] pour copier la signature dans le presse-papier.
        </li>
        <li>
            Collez cette signature dans les paramètres de votre logiciel de courriers :
            <ul>
                <li>
                    Pour <b>Outlook</b>, allez dans les paramètres, via <i>File / Options</i>. Cliquez sur l'onglet <i>Mail</i> et ensuite, sur <i>Signature</i>.
                    Dans la section <i>Compose messages</i>, créez une nouvelle signature et collez la signature directement dans la zone d'édition. 
                    Finalement, enregistrez les paramètres.
                </li>
                <li>
                    Pour <b>Outlook 365</b>, allez dans les <a href="https://outlook.office365.com/mail/options/mail/messageContent" target="_blank">paramètres de création de mail</a>,
                    dans Outlook Web Access et collez la signature directement dans la zone d'édition. Finalement, enregistrez les paramètres.
                </li>
                <li>
                    Pour <b>GMail</b>, cliquez sur <a href="https://mail.google.com/mail/u/0/#settings/general" target="_blank">la roue des paramètres / voir tous les paramètres</a>.
                    Dans l'onglet Général, déroulez jusqu'à la rubrique <i>Signature</i> et créez une nouvelle signature.
                    Collez la signature directement dans la zone d'édition. Finalement, enregistrez les paramètres.
                </li>

            </ul>
        </li>
    </ol>
</div>