@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <a href="/signature/oniryx">Signature d'Oniryx</a>
</div>

<div>
    <a href="/signature/igroove">Signature d'I-Groove</a>
</div>
