@page "/signature/{Company?}"
@inject Services.SignatureReaderService SignatureService

<div class="container">
    <div class="row">
        <div class="col-md">
            1. Complétez ce formulaire pour pré-visualiser votre signature.<br />
            2. Appuyez sur le bouton [Copier la signature].<br />
            3. Suivez les étapes dans l'aide pour coller votre signature dans GMail, Outlook, ...<br />
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="form-group">
                <label for="firstname">Prénom</label>
                <input type="text" class="form-control" id="firstname" placeholder="John" @bind="SignatureValue.FirstName">
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="lastname">Nom</label>
                <input type="text" class="form-control" id="lastname" placeholder="Smith" @bind="SignatureValue.LastName">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="form-group">
                <label for="title">Titre</label>
                <input type="text" class="form-control" id="title" placeholder="IT Consultant" @bind="SignatureValue.Title">
            </div>
        </div>
        <div class="col-md">
            <div class="form-group">
                <label for="phone">Téléphone</label>
                <input type="text" class="form-control" id="phone" placeholder="+32 (0)475 10 00 00" @bind="SignatureValue.Phone">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="form-group">
                <label for="citation">Citation</label>
                <input type="text" class="form-control" id="citation" placeholder="As a kid, I wanted to be a fighter pilot" @bind="SignatureValue.Citation">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <div class="form-group">
                <label for="citation">Légalité</label>
                <textarea class="form-control" id="legal" @bind="SignatureValue.Legal" rows="3"></textarea>
            </div>
        </div>
    </div>

    <div style="height:60px;">&nbsp;</div>

    <center>
        <div style="border: 1px gray solid; width: 650px;">
            <SignaturePreview @ref="Preview" Value="@SignatureValue" />
        </div>

        <div style="width: 650px; text-align: right; margin: 20px 0px;">
            <button class="btn-primary" @onclick="CopyToClipboard_Click">Copier la signature</button>
        </div>
    </center>

</div>

@code
{
    private SignaturePreview Preview;
    private Models.Signature SignatureValue = new Models.Signature();

    [Parameter]
    public string Company { get; set; }

    protected async override Task OnInitializedAsync()
    {
        SignatureValue = await SignatureService.GetSignatureAsync(Company);
    }

    private async void CopyToClipboard_Click()
    {
        await Preview.CopyToClipboardAsync();
    }

}